{
  "extends": ["airbnb-base","plugin:jest/recommended"],
  "plugins": ["jest"],
  "env": {
    "node": true,
    "jest/globals": true
  },
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "rules": {
    "no-underscore-dangle": "off",
    "consistent-return": "off",
    "no-shadow": "off",
    "no-nested-ternary": "off",
    "import/no-extraneous-dependencies": ["error"],
    "no-console": ["error", {
      "allow": ["info", "warn", "error"]
    }],
    "jest/no-disabled-tests": "warn",
    "jest/no-focused-tests": "error",
    "jest/no-identical-title": "error",
    "jest/prefer-to-have-length": "warn",
    "jest/valid-expect": "error"
  }
}
